### Buena Ondita Analisis

In [12]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt


df = pd.read_csv(
    r'C:\Users\Ludwin Leon\data-science-portfolio\CaseStudies\Buena_ondita\mercancia_2025.csv',
    encoding='latin1',
    header=1
)

display(df.head(10))    # Muestra un datafra con las 10 primeras filas
print("-----------------")
display(df.info())
print("-----------------")
display(df.describe())
print("-----------------") 
print(df.columns)        # specifies names of the columns
print("-----------------")

,CLAVE,STATUS,PROVEEDOR,FECHA PEDIDO,FECHA LLEGADA,PRODUCTO,MATERIAL,GENERO,COLOR,PRECIO,...,PAGO AL BANCO,TOTAL,DIA,LUGAR,PRECIO FINAL.1,REINVERSION.V,LLAMPI.V,UTILIDADES.V,PAGO AL BANCO.V,TOTAL.V
0,AN31,OK,NIHAUJEWELRY,29/11/2023,04/12/2023,ANILLO DE PALITO Y BRILLANTE,ACERO,MUJER,ORO,$16.78,...,NaN,NaN,NaN,NaN,NaN,$18.11,-$9.06,-$2.72,-$6.34,$0.00
1,NH4933257,PENDIENTE,NIHAUJEWELRY,17/02/2024,23/02/2024,ANILLO DE RESINA VERDE,RESINA,MUJER,VERDE,$6.39,...,NaN,NaN,NaN,NaN,NaN,$6.72,-$3.36,-$1.01,-$2.35,$0.00
2,YZK711,OK,CENTRO,14/03/2024,14/03/2024,ANILLO SENCILLO,ACERO,HOMBRE,ORO,$2.50,...,NaN,NaN,NaN,NaN,NaN,$2.83,-$1.42,-$0.42,-$0.99,$0.00
3,YZK711,OK,CENTRO,14/03/2024,14/03/2024,ANILLO SENCILLO,ACERO,HOMBRE,ORO,$2.50,...,NaN,NaN,NaN,NaN,NaN,$2.83,-$1.42,-$0.42,-$0.99,$0.00
4,YZK711,OK,CENTRO,14/03/2024,14/03/2024,ANILLO SENCILLO,ACERO,HOMBRE,ORO,$2.50,...,NaN,NaN,NaN,NaN,NaN,$2.83,-$1.42,-$0.42,-$0.99,$0.00
5,YZK711,OK,CENTRO,14/03/2024,14/03/2024,ANILLO SENCILLO,ACERO,HOMBRE,ORO,$2.50,...,NaN,NaN,NaN,NaN,NaN,$2.83,-$1.42,-$0.42,-$0.99,$0.00
6,YZK711,OK,CENTRO,14/03/2024,14/03/2024,ANILLO SENCILLO,ACERO,HOMBRE,ORO,$2.50,...,NaN,NaN,NaN,NaN,NaN,$2.83,-$1.42,-$0.42,-$0.99,$0.00
7,YZK711,OK,CENTRO,14/03/2024,14/03/2024,ANILLO SENCILLO,ACERO,HOMBRE,ORO,$2.50,...,NaN,NaN,NaN,NaN,NaN,$2.83,-$1.42,-$0.42,-$0.99,$0.00
8,YZK711,OK,CENTRO,14/03/2024,14/03/2024,ANILLO SENCILLO,ACERO,HOMBRE,ORO,$2.50,...,NaN,NaN,NaN,NaN,NaN,$2.83,-$1.42,-$0.42,-$0.99,$0.00
9,YZK711,OK,CENTRO,14/03/2024,14/03/2024,ANILLO SENCILLO,ACERO,HOMBRE,ORO,$2.50,...,NaN,NaN,NaN,NaN,NaN,$2.83,-$1.42,-$0.42,-$0.99,$0.00

-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747 entries, 0 to 746
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLAVE            547 non-null    object
 1   STATUS           713 non-null    object
 2   PROVEEDOR        724 non-null    object
 3   FECHA PEDIDO     724 non-null    object
 4   FECHA LLEGADA    724 non-null    object
 5   PRODUCTO         724 non-null    object
 6   MATERIAL         724 non-null    object
 7   GENERO           724 non-null    object
 8   COLOR            724 non-null    object
 9   PRECIO           724 non-null    object
 10  BOLSA            724 non-null    object
 11  STICKER          724 non-null    object
 12  STICKER PRECIO   724 non-null    object
 13  TRANSPORTE       1 non-null      object
 14  COSTO DE UNIDAD  724 non-null    object
 15  PRECIO.1         724 non-null    object
 16  PRECIO A VENTA   724 non-null    float64
 17  PRECIO FINAL     485 non-null    float64
 18  REINVERSION      724 non-null    object
 19  LLAMPI           724 non-null    object
 20  UTILIDADES       484 non-null    object
 21  PAGO AL BANCO    0 non-null      float64
 22  TOTAL            0 non-null      float64
 23  DIA              116 non-null    object
 24  LUGAR            116 non-null    object
 25  PRECIO FINAL.1   116 non-null    object
 26  REINVERSION.V    747 non-null    object
 27  LLAMPI.V         747 non-null    object
 28  UTILIDADES.V     747 non-null    object
 29  PAGO AL BANCO.V  747 non-null    object
 30  TOTAL.V          747 non-null    object
dtypes: float64(4), object(27)
memory usage: 181.0+ KB

None

-----------------

       PRECIO A VENTA  PRECIO FINAL  PAGO AL BANCO  TOTAL
count      724.000000    485.000000            0.0    0.0
mean       132.113260    117.628866            NaN    NaN
std         35.587671     26.126409            NaN    NaN
min         50.000000     50.000000            NaN    NaN
25%        130.000000    100.000000            NaN    NaN
50%        130.000000    120.000000            NaN    NaN
75%        150.000000    130.000000            NaN    NaN
max        400.000000    350.000000            NaN    NaN

-----------------
Index(['CLAVE', 'STATUS', 'PROVEEDOR', 'FECHA PEDIDO', 'FECHA LLEGADA',
       'PRODUCTO', 'MATERIAL', 'GENERO', 'COLOR', 'PRECIO', 'BOLSA', 'STICKER',
       'STICKER PRECIO', 'TRANSPORTE', 'COSTO DE UNIDAD', 'PRECIO.1',
       'PRECIO A VENTA', 'PRECIO FINAL', 'REINVERSION', 'LLAMPI', 'UTILIDADES',
       'PAGO AL BANCO', 'TOTAL', 'DIA', 'LUGAR', 'PRECIO FINAL.1',
       'REINVERSION.V', 'LLAMPI.V', 'UTILIDADES.V', 'PAGO AL BANCO.V',
       'TOTAL.V'],
      dtype='object')
-----------------

Notas : Identificamos los primeros errores, lo principal es corregir las columnas de tipo objetos y cambiar al tipo correcto, ya sea, float, int o boleano para un mejor analisis, modificat las fechas a datetime es importante tambien para tener una mejor visualizacion y al terminar esto hay que revisar la importancia de los valores Nan y si sera mejor rellenarlos, eliminarlos o dejarlos como estan.

(Error en describe, muestra pago al banco y total)

In [16]:
# Modified datetime columns
df['FECHA LLEGADA'] = pd.to_datetime(df['FECHA LLEGADA'], errors='coerce', dayfirst=True)
df['FECHA PEDIDO'] = pd.to_datetime(df['FECHA PEDIDO'], errors='coerce', dayfirst=True)
df['DIA'] = pd.to_datetime(df['DIA'], errors='coerce', dayfirst=True)

# Modifies columns to numeric types

cols_a_convertir = [
    'PRECIO', 'BOLSA', 'STICKER', 'STICKER PRECIO', 'TRANSPORTE',
    'COSTO DE UNIDAD', 'PRECIO', 'PRECIO A VENTA', 'PRECIO FINAL',
    'REINVERSION', 'LLAMPI', 'UTILIDADES', 'REINVERSION.V',
    'LLAMPI.V', 'UTILIDADES', 'PAGO AL BANCO', 'TOTAL'
]

for col in cols_a_convertir:   #generamos un bucle para convertir las columnaas seleccionadas a tipo numerico
    df[col] = (
        df[col]
        .astype(str)     # nos aseguramos de que todo sea texto
        .str.replace('$', '', regex=False)  # eliminamos el simbolo dolar y regex evita que pandas lo interprete como una expresion regular
        .str.replace(',', '', regex=False)  # eliminamos las comas
        .str.strip() # eliminamos los espacion al incio y al final
        .replace('', np.nan)  # eliminamos las secciones vacioas por Nan
        .astype(float) # convertimos a tipo float
    )

display(df.info())
display(df.describe().round(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747 entries, 0 to 746
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLAVE            547 non-null    object
 1   STATUS           713 non-null    object
 2   PROVEEDOR        724 non-null    object
 3   FECHA PEDIDO     724 non-null    datetime64[ns]
 4   FECHA LLEGADA    724 non-null    datetime64[ns]
 5   PRODUCTO         724 non-null    object
 6   MATERIAL         724 non-null    object
 7   GENERO           724 non-null    object
 8   COLOR            724 non-null    object
 9   PRECIO           724 non-null    float64
 10  BOLSA            724 non-null    float64
 11  STICKER          724 non-null    float64
 12  STICKER PRECIO   724 non-null    float64
 13  TRANSPORTE       1 non-null      float64
 14  COSTO DE UNIDAD  724 non-null    float64
 15  PRECIO.1         724 non-null    object
 16  PRECIO A VENTA   724 non-null    float64
 17  PRECIO FINAL     485 non-null    float64
 18  REINVERSION      724 non-null    float64
 19  LLAMPI           724 non-null    float64
 20  UTILIDADES       484 non-null    float64
 21  PAGO AL BANCO    0 non-null      float64
 22  TOTAL            0 non-null      float64
 23  DIA              116 non-null    datetime64[ns]
 24  LUGAR            116 non-null    object
 25  PRECIO FINAL.1   116 non-null    object
 26  REINVERSION.V    747 non-null    float64
 27  LLAMPI.V         747 non-null    float64
 28  UTILIDADES.V     747 non-null    object
 29  PAGO AL BANCO.V  747 non-null    object
 30  TOTAL.V          747 non-null    object
dtypes: datetime64[ns](3), float64(15), object(13)
memory usage: 181.0+ KB

None

,FECHA PEDIDO,FECHA LLEGADA,PRECIO,BOLSA,STICKER,STICKER PRECIO,TRANSPORTE,COSTO DE UNIDAD,PRECIO A VENTA,PRECIO FINAL,REINVERSION,LLAMPI,UTILIDADES,PAGO AL BANCO,TOTAL,DIA,REINVERSION.V,LLAMPI.V
count,724,724,724.00,724.00,724.00,724.00,1.0,724.00,724.00,485.00,724.00,724.00,484.00,0.0,0.0,116,747.00,747.00
mean,2025-02-10 15:28:50.386740224,2025-01-20 20:39:06.961325824,19.01,0.20,0.08,0.05,1.0,19.35,132.11,117.63,19.35,56.63,48.79,NaN,NaN,2025-05-22 23:47:35.172413696,21.22,6.25
min,2023-11-29 00:00:00,2023-12-04 00:00:00,2.50,0.20,0.08,0.05,1.0,2.83,50.00,50.00,2.83,21.10,30.95,NaN,NaN,2025-04-07 00:00:00,2.83,-24.12
25%,2025-01-26 00:00:00,2025-01-07 00:00:00,11.75,0.20,0.08,0.05,1.0,12.08,130.00,100.00,12.08,52.86,42.48,NaN,NaN,2025-05-17 00:00:00,12.28,-12.67
50%,2025-03-10 00:00:00,2025-03-10 00:00:00,18.93,0.20,0.08,0.05,1.0,19.26,130.00,120.00,19.26,58.47,47.34,NaN,NaN,2025-05-23 00:00:00,19.50,-8.56
75%,2025-04-15 00:00:00,2025-04-19 00:00:00,25.00,0.20,0.08,0.05,1.0,25.33,150.00,130.00,25.33,62.34,52.44,NaN,NaN,2025-05-31 00:00:00,25.33,-5.17
max,2025-05-20 00:00:00,2025-05-29 00:00:00,47.90,0.25,0.08,0.05,1.0,48.23,400.00,350.00,48.23,182.39,157.39,NaN,NaN,2025-06-08 00:00:00,290.79,829.60
std,NaN,NaN,9.10,0.01,0.00,0.00,NaN,9.10,35.59,26.13,9.10,15.37,11.14,NaN,NaN,NaN,18.12,56.47

Notas: Todos los que son .v estan relacionados a las ventas y los demas a los costos
       Hubo en error en los datos y se deben mezclar las columnad de precio final.
       
       Aclarar ciertos datos:
       Precio a venta lo que se buscaba obtener 
       Precio Final a lo que se vendio
       Costo Unitario es la sum de Precio, Bolsa, Sticker, Sticker precio y transporte.